<md-sidenav md-is-locked-open="false" md-component-id="mainSideNav" ng-click="vm.toggleList($event)" class="md-whiteframe-z2 sidenav-main"
	tabindex="-1">

	<md-toolbar>
		<div class="md-toolbar-tools p6n-vulcan-toolbar">
			<h2 class="md-flex">Main menu</h2>
		</div>
	</md-toolbar>

	<md-toolbar class="md-toolbar-tools ">
		<md-input-container>
			<md-icon md-svg-icon="filter-list"></md-icon>
			<input type="search" placeholder="Filter menu items" ng-model="vm.keyword" ng-model-options="{debounce: {'default': 300, 'blur': 0}}"
			/>
		</md-input-container>
	</md-toolbar>

	<md-list ng-repeat="menuItem in vm.menuItems | filter:vm.keyword" class="md-clickable">
		<md-list-item>
			<div class="p6n-section-highlight" ng-if="vm.isSelectedMenuItem(menuItem)"></div>

			<a ui-sref="{{::menuItem.routerState}}" class="md-button md-ink-ripple md-cards-theme sidenav-item-link">
				<md-icon md-svg-icon="{{::menuItem.icon}}"></md-icon>
				{{menuItem.name}}
			</a>
		</md-list-item>
	</md-list>
</md-sidenav>